@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .small-caps {
        font-variant-caps: all-small-caps;
    }
}



.first-paragraph::first-letter {
    float: left;
    font-family: VTC Du Bois, serif !important;
    font-feature-settings: "ss06" !important;
    font-size: 5.5rem;
    line-height: 3.5rem;
    font-weight: bold;
    padding: 1rem 0.75rem 0rem 0rem;
}

.cardPlayfair:hover,
.cardPlayfair:focus {
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/playfair/1-northamerica.jpg") center;
}

.cardBrooks:hover,
.cardBrooks:focus {
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/brooks/1-sof_slaveship.jpg") center;
}

.cardPeabody:hover,
.cardPeabody:focus {
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/peabody/1500s.jpg") center;
}

.cardShanawdithit:hover,
.cardShanawdithit:focus {
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/ch4-13-willard.jpg") center;
}

.cardDubois:hover,
.cardDubois:focus {
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/dubois/ch5-01-phila.jpg") center;
}

.cardLabour:hover,
.cardLabour:focus {
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/railroadscaled.jpg") center;
}

.grid-wrapper {
    display: grid;
    grid-template-columns:
    1fr
    min(85ch, 100%)
    1fr;
}

.grid-wrapper > * {
    grid-column: 2;
}

.column-grid-wrapper {
    display: grid;
    grid-template-columns:
    1fr
    min(45ch, 100%)
    1fr;
}

.column-grid-wrapper > * {
    grid-column: 2;
}

.scrollytell .column-grid-wrapper {
    display: block;
    grid-template-columns: unset;
}

.left-bleed {
    width: 100%;
    grid-column: 1 / 2;
}

.right-bleed {
    width: 100%;
    grid-column: 2 / 4;
}

.full-bleed {
    width: 100%;
    grid-column: 1 / 4;
}

.footnote {
    cursor: pointer;
    display: inline-block;
    font-family: "VTC Du Bois";
    vertical-align: middle;
    font-size: .75rem;
    line-height: 1.25rem;
    border-radius: 50%;
    min-width: 1.25rem;
    height: 1.25rem;
    margin-left: .25rem;
    margin-bottom: .2rem;
    text-align: center;
}

.cut-corners {
    clip-path: polygon(
            0 10px,
            10px 0,
            calc(100% - 10px) 0,
            100% 10px,
            100% calc(100% - 10px),
            calc(100% - 10px) 100%,
            10px 100%,
            0 calc(100% - 10px)
    );
}

.scrollytell-shape-focus {
    transition: cx .7s, cy .7s, rx .7s, ry .7s, x .7s, y .7s, height .7s, width .7s;
}

.chapter-body p {
    margin: .75rem auto;
  line-height:1.75rem;
}

.se { stroke-dasharray: 0 30 30 }
.nw { stroke-dasharray: 30 30  0 }
.sw { stroke-dasharray: 0 60 30 }
.ne { stroke-dasharray: 30 0 30 }
.w { stroke-dasharray: 0 90 0 }
.n { stroke-dasharray: 30 90 }
.s { stroke-dasharray: 0 60 30 30 }
.e { stroke-dasharray: 0 30 30 60 }
.c { stroke-dasharray: 0 120 }
.top { stroke-dasharray: 30 0 30 30 }
.middle { stroke-dasharray: 0 30 0 }

html {
    scroll-padding-top: 3em;
}

tspan:focus {
    outline: none;
    text-decoration: underline;
}

svg.actor-button:focus {
    outline: none;
}
