{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["jsx-a11y"],
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    "plugin:jsx-a11y/recommended"
  ],
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off"
  }
}
