@import url("https://p.typekit.net/p.css?s=1&k=ooz0npa&ht=tk&f=39512.39516.39517.39518.39523&a=79124244&app=typekit&e=css");

@font-face {
    font-family: "Maranallo";
    src: url("fonts/Maranallo/Maranallo.ttf") format("truetype");
}

@font-face {
    font-family: "VTC Du Bois";
    src: url("/fonts/VTCDubois/VTCDuBois-Regular.woff") format("woff"),
    url("/fonts/VTCDubois/VTCDuBois-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "VTC Du Bois Wide";
    src: url("/fonts/VTCDubois/VTCDuBois-BoldWide.woff") format("woff"),
    url("/fonts/VTCDubois/VTCDuBois-BoldWide.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "VTC Du Bois Wide";
    src: url("/fonts/VTCDubois/VTCDuBois-LightWide.woff") format("woff"),
    url("/fonts/VTCDubois/VTCDuBois-LightWide.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "VTC Du Bois Narrow";
    src: url("/fonts/VTCDubois/VTCDuBois-RegularNarrow.woff")
    format("woff"),
    url("/fonts/VTCDubois/VTCDuBois-RegularNarrow.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "VTC Du Bois Narrow";
    src: url("/fonts/VTCDubois/VTCDuBois-LightNarrow.woff") format("woff"),
    url("/fonts/VTCDubois/VTCDuBois-LightNarrow.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Chancery Cursive";
    src: url("/fonts/Chancery/Chancery_Cursive_Italic.ttf")
    format("truetype");
}

@font-face {
    font-family: "DxD Icons";
    src: url("/fonts/DxDIcons/DxDIcons-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "VTC William";
    src: url("/fonts/William/VTCWilliam-Regular.woff") format("woff"),
    url("/fonts/William/VTCWilliam-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "VTC William";
    src: url("/fonts/William/VTCWilliam-Bold.woff") format("woff"),
    url("/fonts/William/VTCWilliam-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "VTC William";
    src: url("/fonts/William/VTCWilliam-BoldItalic.woff") format("woff"),
    url("/fonts/William/VTCWilliam-BoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "VTC William";
    src: url("/fonts/William/VTCWilliam-Italic.woff") format("woff"),
    url("/fonts/William/VTCWilliam-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "VTC William Wide";
    src: url("/fonts/William/VTCWilliam-BoldWide.woff") format("woff"),
    url("/fonts/William/VTCWilliam-BoldWide.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * neue-haas-unica:
 *   - http://typekit.com/eulas/00000000000000007735bb07
 *   - http://typekit.com/eulas/00000000000000007735bb14
 *   - http://typekit.com/eulas/00000000000000007735bb17
 *   - http://typekit.com/eulas/00000000000000007735bb1b
 *   - http://typekit.com/eulas/00000000000000007735bb2a
 *
 * © 2009-2021 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-06-29 00:24:48 UTC"}*/

@font-face {
    font-family: "neue-haas-unica";
    src: url("https://use.typekit.net/af/8a8abc/00000000000000007735bb07/30/l?subset_id=2&fvd=n6&v=3")
    format("woff2"),
    url("https://use.typekit.net/af/8a8abc/00000000000000007735bb07/30/d?subset_id=2&fvd=n6&v=3")
    format("woff"),
    url("https://use.typekit.net/af/8a8abc/00000000000000007735bb07/30/a?subset_id=2&fvd=n6&v=3")
    format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "neue-haas-unica";
    src: url("https://use.typekit.net/af/92a736/00000000000000007735bb14/30/l?subset_id=2&fvd=n7&v=3")
    format("woff2"),
    url("https://use.typekit.net/af/92a736/00000000000000007735bb14/30/d?subset_id=2&fvd=n7&v=3")
    format("woff"),
    url("https://use.typekit.net/af/92a736/00000000000000007735bb14/30/a?subset_id=2&fvd=n7&v=3")
    format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "neue-haas-unica";
    src: url("https://use.typekit.net/af/8e49dd/00000000000000007735bb17/30/l?subset_id=2&fvd=i7&v=3")
    format("woff2"),
    url("https://use.typekit.net/af/8e49dd/00000000000000007735bb17/30/d?subset_id=2&fvd=i7&v=3")
    format("woff"),
    url("https://use.typekit.net/af/8e49dd/00000000000000007735bb17/30/a?subset_id=2&fvd=i7&v=3")
    format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "neue-haas-unica";
    src: url("https://use.typekit.net/af/e07c44/00000000000000007735bb1b/30/l?subset_id=2&fvd=i4&v=3")
    format("woff2"),
    url("https://use.typekit.net/af/e07c44/00000000000000007735bb1b/30/d?subset_id=2&fvd=i4&v=3")
    format("woff"),
    url("https://use.typekit.net/af/e07c44/00000000000000007735bb1b/30/a?subset_id=2&fvd=i4&v=3")
    format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "neue-haas-unica";
    src: url("https://use.typekit.net/af/d7f1e9/00000000000000007735bb2a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
    format("woff2"),
    url("https://use.typekit.net/af/d7f1e9/00000000000000007735bb2a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
    format("woff"),
    url("https://use.typekit.net/af/d7f1e9/00000000000000007735bb2a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
    format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
}

.tk-neue-haas-unica {
    font-family: "neue-haas-unica", sans-serif;
}
